[user]
	email = beaudan.brown@gmail.com
	name = Beaudan Brown
[pager]
	branch = false
[include]
	path = ~/.config/gitalias
[alias]
	lg = log --all --graph --decorate --oneline
	co = checkout
[pull]
	rebase = false
[core]
	editor = nvim
