/* Ignore non-dotfiles */
*
!.*
!.*/**

/* Files */
.Xauthority
.config/shortcutrc

/* Directories */
.cache/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/dotsGit/
.config/fnm/
.config/gnupg/
.config/google-chrome/
.config/menus/
.config/nvim/
.config/pulse/
.config/vifm/
.config/zsh/
.gnome/
.java/
.local/include/
.local/lib/
.local/share/
.minecraft/
.npm/
.nv/
.pki/
.ssh/
